:root{
    --back-clr: rgba(17, 24, 39, 1);
    --txt-clr: white;
}


.resume-container{
    flex: 1.5;
    position:sticky;
    display: flex;
    /* align-items: center; */
    justify-content: center;    
    background-color: var(--txt-clr);
    height: 100vh;
    overflow-y: auto;
}

.resume-page{
    margin: 5%;
    box-shadow: 0px 12px 28px 0px rgba(4, 4, 4, 0.454), 0px 2px 4px 0px rgba(0, 0, 0, 0.237), 0px 0px 0px 1px rgba(17, 17, 17, 0.317) inset;
    /* box-shadow: 0 0 40px 0 rgba(255, 254, 254, 0.345);  */
    height: fit-content;
    width:50%;
    padding: 0.25in 0.5in 0.5in 0.5in;    
    background-color: var(--txt-clr);
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 0.7vw;
}

.contact-container > *{
    padding: 2px;
    margin: 0;
}
.skill-container-inside{
    display: flex;
    align-items: center;
    font-size: 0.7vw;
}

.skill-container-inside *{
    padding: 0;
    margin: 0;
}
.work-block, .project-block, .study-block{
    font-size: 0.7vw;
}

.work-block > h3, .project-block > h3, .study-block > h4{
    margin-bottom:10px;
}


.work-container > ul, .projects-container > ul, .education-container > ul{
    list-style: none;
    padding: 0;
    line-height: 1.3;
}

.work-duties, .project-details, .study-details{
    list-style:disc;
}

li{
    word-wrap: break-word;
}

.study-block > h3{
    margin-bottom: 0;
}
.study-block > h4{
    margin-top: 0;
}




@media only screen and (max-width:600px){
    .resume-container{
        height: unset;
        padding-bottom: 2rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
    .resume-page{
        margin: 0;
        padding: 4% 6% 6% 6% ;
        width: 80%;        
    }
    .download-btn{
        position:relative;
        width: 80%;        
        top: 0;
        right: 0;
    }
    .download-btn > img{
        height: 2rem;
    }

    .resume-page  *{
        font-size: 8px;
    }

    .work-duties, .project-details, .study-details{
        padding-left: 2rem;
        list-style:disc;

    }
}

@media print {
    @page:first {
       margin-top: 0.5in;   
   } 
   @page{
       margin-top: 1in;
   }

   .download-btn{
       display: none;
   }

   .form-container{
       display: none !important;
   }

   .resume-container{
       height: fit-content;
       width: 100% !important;
       overflow: hidden;
       position: absolute;
   }
   .resume-page{
   width: 210mm !important;
   height: 297mm !important;      
   box-shadow: none !important; 
   margin: 0 !important;
   }
   .contact-container{
   font-size: 15px !important;
   }
   .work-block, .project-block, .study-block, .skill-container-inside{
       font-size: 15px !important;
   }
   header, footer {
       display: none !important;
   }
   
}