body{
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: Calibri;

}

#root{
    width: 100%;
    display: flex;
}




.form-container{
    /* outline: black solid; */
    flex: 1;
    display: flex;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.resume-container{
    /* outline: green solid; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}